<style>
:host {
  --app-drawer-width: 256px;
  display: block;
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: var(--app-header-background-color);
  color: var(--app-header-text-color);
  z-index: 3;
}

app-drawer{
  z-index: 4;
}

:host([hide-nav]) .toolbar-list{
  display: none;
}
:host([hide-nav]) #menu-btn{
  display: none !important;
}
:host([hide-nav]) #back-btn{
  display: block;
}
#back-btn{
  display: none;
}
.toolbar-top {
  background-color: var(--app-header-background-color);
}

[main-title] {
  font-family: 'Pacifico', cursive;
  text-transform: lowercase;
  font-size: 30px;
  /* In the narrow layout, the toolbar is offset by the width of the
  drawer button, and the text looks not centered. Add a padding to
  match that button */
  padding-right: 44px;
  pointer-events: auto !important;
  color: var(--app-light-text-color);
}

.toolbar-list {
  display: none;
  padding-bottom:16px;
}

.toolbar-list > a {
  display: inline-block;
  color: var(--app-light-text-color);
  text-decoration: none;
  line-height: 30px;
  padding: 4px 24px;
}

.toolbar-list > a[selected] {
  color: #fdfefe;
  background: #f51681;
  border-radius: 26px;
}

.menu-btn {
  background: none;
  border: none;
  fill: var(--app-header-text-color);
  cursor: pointer;
  height: 44px;
  width: 44px;
}

.drawer-list {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 24px;
  background: var(--app-drawer-background-color);
  position: relative;
}

.drawer-list > a {
  display: block;
  text-decoration: none;
  color: var(--app-drawer-text-color);
  line-height: 40px;
  padding: 0 24px;
}

.drawer-list > a[selected] {
  color: var(--app-drawer-selected-color);
}

.main-content {
  padding-top: 64px;
  min-height: 100vh;
  background: white;
}

#pages [page] {
    display: none;
}

#pages [page][active] {
  display: block;
}

[cart-btn]{
  position: relative;
}
.cart-badge{
  font-size: 12px;
  height: 16px;
  width: 16px;
  background: #ff0057;
  position: absolute;
  top: 0px;
  right: 4px;
  color: white;
  border-radius: 8px;
}
footer {
  padding: 24px;
  background: var(--app-primary-color);
  color: var(--app-drawer-text-color);
  text-align: center;
}
paper-progress{
  width: 100%;
   --paper-progress-active-color: var(--app-secondary-color);
}
/* Wide layout: when the viewport width is bigger than 460px, layout
changes to a wide layout. */
@media (min-width: 460px) {
  .toolbar-list {
    display: block;
  }

  .main-content {
    padding-top: 114px;
  }

  /* The drawer button isn't shown in the wide layout, so we don't
  need to offset the title */
  [main-title] {
    padding-right: 0px;
  }
}
</style>
<!-- Header -->

<app-header condenses reveals effects="waterfall">
  <paper-progress indeterminate hidden$="[[!loading]]"></paper-progress>
  <app-toolbar class="toolbar-top" sticky>
    <paper-icon-button 
      id="menu-btn"
      icon="bn-icons:menu" 
      hidden$="[[!_user]]"
      on-click="_openDrawer"></paper-icon-button>
    <a href="/">
      <paper-icon-button icon="bn-icons:arrow-back" id="back-btn"></paper-icon-button>
    </a>
    
    <div main-title>
      <a href="/">ReminiscebyRo</a>
    </div>
    
    <a href="/cart" cart-btn>
      <paper-icon-button icon="bn-icons:cart"></paper-icon-button>
      <span class="cart-badge">[[cartItemsCount]]</span>
    </a>
    
  </app-toolbar>
  <!-- This gets hidden on a small screen-->
  <nav class="toolbar-list">
    <a selected$="[[is_selected(page, 'home')]]" href="/">Home</a>
    <a selected$="[[is_selected(page, 'shop')]]" href="/shop">Shop</a>
    <a selected$="[[is_selected(page, 'about')]]" href="/about">Our Story</a>
    <a selected$="[[is_selected(page, 'contact')]]" href="/contact">Get in touch</a>
  </nav>
  <!-- <category-nav hidden$="[[!is_selected(page, 'shop')]]"></category-nav> -->
  
</app-header>
<!-- Drawer content -->

<app-drawer opened="{{_drawerOpened}}">
  <nav class="drawer-list">
    <a selected$="[[is_selected(_page, 'view2')]]" href="/dashboard">Dashboard</a>
    <a selected$="[[is_selected(_page, 'view3')]]" href="/shop">Shop</a>
    <a selected$="[[is_selected(_page, 'view3')]]" href="/orders">Orders</a>
    <a selected$="[[is_selected(_page, 'view3')]]" href="/blogging">Blog</a>
    <a selected$="[[is_selected(_page, 'view3')]]" href="/media">Media</a>
  </nav>
</app-drawer>
<!-- Main content -->
<main class="main-content" id="pages">
  <remi-home page="home"></remi-home>
  <remi-product page="product"></remi-product>
  <remi-about page="about"></remi-about>
  <remi-contact page="contact"></remi-contact>
  <remi-shop page="shop"></remi-shop>
  <remi-cart page="cart"></remi-cart>
  <remi-login page="login"></remi-login>
  <remi-dashboard page="dashboard"></remi-dashboard>
  <remi-products page="products"></remi-products>
  <remi-product-editor page="product-edit"></remi-product-editor>
  <remi-orders page="orders"></remi-orders>
</main>

<!--
    shop-cart-data maintains the state of the user's shopping cart (in localstorage) and
    calculates the total amount.
  -->

<remi-cart-data></remi-cart-data>
<remi-cart-modal id="cart-modal"></remi-cart-modal>

<snack-bar active$="[[toastVisible]]">
  You are now ${_offline ? 'offline' : 'online'}.</snack-bar>