
<style>
  .light-text{
    color: var(--app-light-text-color)
  }
  .text-center{
    text-align:center;
  }
  .pad{
    padding:16px;
  }
  .content{
    max-width: 1200px;
    margin: 0 auto;
  }
  a{
    text-decoration:none;
  }
  .page-wrapper{
    position: relative;
    width: 100%;
    overflow-x: hidden;
  }
  .white{
    background-color:white;
  }
  .app-section{
    min-height: 10vh;
  }
  @media only screen and (max-device-width: 480px) and (min-device-width: 320px){
    .hidden-on-small{
      display: none;
    }
  }
  
</style>

