
<style include="iron-flex iron-flex-factors iron-flex-alignment iron-positioning">
  .light-text{
    color: var(--app-light-text-color)
  }
  .text-center{
    text-align:center;
  }
  .pad{
    padding:16px;
  }
  .content{
    max-width: 1200px;
    margin: 0 auto;
  }
  a{
    text-decoration:none;
    color: inherit;
  }
  .page-wrapper{
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .white{
    background-color:white;
  }
  .app-section{
    min-height: 10vh;
  }
  .white-color{
    color: white;
  }
  .mdc-typography--headline4{
    font-weight: 400;
  }
  .mdc-typography--body2{
    font-size: .9rem;
    font-weight: 400;
  }
  .mdc-typography--headline5 {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: normal;
}
  @media only screen and (max-device-width: 480px) and (min-device-width: 320px){
    .hidden-on-small{
      display: none;
    }
  }
  
</style>

